:root{
  --home-bg-width: 10000px;
  --color-primary-white: #ffffff;
  --color-primary-black: #000000;
  --color-secondary-gray-01: #6c6c6c;
  --color-secondary-gray-02: #c5c5c5;
  --color-secondary-beige-01: #f9f7ee;
  --color-secondary-beige-02: #f3f1e8;
}

*{
  scroll-behavior: smooth;
  scrollbar-color: lightgray transparent;
  scrollbar-width: thin;
}

html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4{
  font-family: 'Boska', serif;
  font-weight: 400;
}

h1{
  color: var(--color-primary-white);
  font-size: clamp(3rem, 4vw, 10rem);
  text-align: center;
}

h2, .--header-2{
  font-size: clamp(2.5rem, 4vw, 8rem);
  margin-bottom: 20px;
}

.--header-3{
  font-size: clamp(1.5rem, 2.5vw, 7rem);
}

.--body-2{
  font-size: 12px;
}

p, a{
  font-family: 'General sans', sans-serif;
}

p{
  font-size: clamp(0.75rem, 1vw, 1rem);
}

a{
  text-decoration: none;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid{
  display: grid;
  grid-gap: 30px;
}

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

.bg-grey{
  background-color: #f4f3f1;
}

.br-5{
  border-radius: 5px;
}

.fw-600{
  font-weight: 600;
}

.loader{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary-beige-02);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  -webkit-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.loader-container{
  height: 100px;
  overflow: hidden;
}

.logo{
  position: relative;
  top: 60%;
}

.logo-loaded{
  -webkit-transform: translate(0, -10vh);
      -ms-transform: translate(0, -10vh);
          transform: translate(0, -10vh);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.header-wrapper{
  color: var(--color-primary-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  /* z-index: 1; */
}

.header-logo{
  padding: 20px 40px;
}

.header-wrapper.scrolled {
  background-color: var(--color-secondary-beige-01);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
  stroke: var(--color-primary-black);
  fill: var(--color-primary-black);
  border-bottom: 1px solid var(--color-secondary-gray-02);
}

.header-wrapper.scrolled .nav-link{
  color: var(--color-primary-black);
  --underline-color: var(--color-primary-black);
}

svg #hero-text{
  fill: transparent;
  stroke: var(--color-primary-white);
  stroke-width: 1;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: fillSvg 4s ease-in-out 8s forwards;
          animation: fillSvg 4s ease-in-out 8s forwards;
}

.links a{
  position: relative;
}

a::after{
  content: "";
  background-color: var(--underline-color);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

 a:hover::after{
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.navbar{
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav{
  width: 20vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-link{
  color: var(--color-primary-white);
  --underline-color: var(--color-primary-white);
}

.nav-toggle, .header-flyout-menu, .header-menu-social-accounts{
  display: none;
}

.name-title{
    position: relative;
    margin-left: 1rem;
    top: 2vh;
    height: 1.2em;
}

  .hero-subtitle{
    padding-top: 5px;
  }

.home{
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(hsla(1, 61%, 72%, 1)), color-stop(7%, hsla(8, 28%, 57%, 1)), color-stop(14%, hsla(17, 16%, 47%, 1)), color-stop(22%, hsla(138, 5%, 43%, 1)), color-stop(33%, hsla(177, 10%, 42%, 1)), color-stop(40%, hsla(169, 12%, 44%, 1)), color-stop(48%, hsla(99, 7%, 48%, 1)), color-stop(55%, hsla(71, 12%, 45%, 1)), color-stop(61%, hsla(56, 21%, 41%, 1)), color-stop(72%, hsla(30, 21%, 46%, 1)), color-stop(82%, hsla(7, 37%, 49%, 1)), color-stop(91%, hsla(5, 37%, 55%, 1)), color-stop(98%, hsla(1, 61%, 72%, 1)));
  background: -o-linear-gradient(left, hsla(1, 61%, 72%, 1) 0%, hsla(8, 28%, 57%, 1) 7%, hsla(17, 16%, 47%, 1) 14%, hsla(138, 5%, 43%, 1) 22%, hsla(177, 10%, 42%, 1) 33%, hsla(169, 12%, 44%, 1) 40%, hsla(99, 7%, 48%, 1) 48%, hsla(71, 12%, 45%, 1) 55%, hsla(56, 21%, 41%, 1) 61%, hsla(30, 21%, 46%, 1) 72%, hsla(7, 37%, 49%, 1) 82%, hsla(5, 37%, 55%, 1) 91%, hsla(1, 61%, 72%, 1) 98%);
  background: linear-gradient(90deg, hsla(1, 61%, 72%, 1) 0%, hsla(8, 28%, 57%, 1) 7%, hsla(17, 16%, 47%, 1) 14%, hsla(138, 5%, 43%, 1) 22%, hsla(177, 10%, 42%, 1) 33%, hsla(169, 12%, 44%, 1) 40%, hsla(99, 7%, 48%, 1) 48%, hsla(71, 12%, 45%, 1) 55%, hsla(56, 21%, 41%, 1) 61%, hsla(30, 21%, 46%, 1) 72%, hsla(7, 37%, 49%, 1) 82%, hsla(5, 37%, 55%, 1) 91%, hsla(1, 61%, 72%, 1) 98%);
  background-size: var(--home-bg-width) 100%;
  -webkit-animation: gradient 15s linear infinite;
          animation: gradient 15s linear infinite;
}

.home::after{
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  min-height: 100vh;
  background-image: url(https://arc.net/noise-light.png);
  mix-blend-mode: screen;
  pointer-events: none; 
}

.welcome-section{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--color-primary-white);
}

.line{
  width: 25rem;
  height: 1px;
  background-color: var(--color-primary-white);
}

.welcome-section p{
  text-align: center;
}

section:not(:first-child){
 padding: 40px 40px 100px 40px;
 background-color: var(--color-secondary-beige-01);
 z-index: -1;
}

.about-section{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax-container{
  width: 50%;
  z-index: 1;
}

.about-photo{
  max-width: 100%;
  height: 1300px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.parallax-inner{
  overflow: hidden;
  max-width: 700px;
  height: 1000px;
}

.container p{
  width: 100%;
  color: var(--color-secondary-gray-01);
}

.about-description{
  width: 50%;
  padding: 0 100px;
  white-space: break-spaces;
}

.resume-link a, svg{
  color: var(--color-secondary-gray-01);
  --underline-color: var(--color-primary-black);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease
}

.resume-link a:hover{
  color: var(--color-primary-black);
}

.resume-link:hover svg{
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.projects{
  grid-template-columns: repeat(3, minmax(0,1fr));
}

.card{
  width: 100%;
  height: 60vh;
  background-color: var(--color-secondary-beige-02);
}

.card-img{
  display: grid;
  place-items: center; 
  width: 100%;
  height: 90%;
}

.project-img{
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 80%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-box-shadow: 0px 10px 30px #d7d6d6;
          box-shadow: 0px 10px 30px #d7d6d6;
  margin: 0 50px;
}

.project-img:hover{
  translate: 0 -8%;
  -webkit-box-shadow: 0px 30px 30px #d7d6d6;
          box-shadow: 0px 30px 30px #d7d6d6;
}

.card-info{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-info > a{
  color: var(--color-primary-black);
}

.card-text{
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-text:hover{
  font-weight: 500;
}

.card-info:hover svg{
  -webkit-transform: translate(3px, -3px);
      -ms-transform: translate(3px, -3px);
          transform: translate(3px, -3px);
}

footer{
  position: relative;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(hsla(18, 27%, 46%, 1)), color-stop(24%, hsla(26, 34%, 53%, 1)), color-stop(67%, hsla(30, 34%, 70%, 1)), color-stop(95%, hsla(39, 86%, 86%, 1)));
  background: -o-linear-gradient(left, hsla(18, 27%, 46%, 1) 0%, hsla(26, 34%, 53%, 1) 24%, hsla(30, 34%, 70%, 1) 67%, hsla(39, 86%, 86%, 1) 95%);
  background: linear-gradient(90deg, hsla(18, 27%, 46%, 1) 0%, hsla(26, 34%, 53%, 1) 24%, hsla(30, 34%, 70%, 1) 67%, hsla(39, 86%, 86%, 1) 95%);
}

footer::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url(https://arc.net/noise-light.png);
  mix-blend-mode: screen;
  pointer-events: none; 
}

.footer-info{
    width: 100%;
    border: 1px solid var(--color-primary-white);
    border-left: none;
    border-right: none;
    padding: 50px 0;
    grid-template-columns: repeat(3, minmax(0,1fr));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-info > svg{ margin: 0 auto; }

.profiles{
  grid-template-columns: repeat(2, minmax(0, 20px));
  justify-content: center;
}

.footer-mail, .footer-description{
  font-size: 12px;
}

.footer-description{
  padding: 20px;
}

/* Tablet layout */
@media (max-width: 1024px) {
   .p-20{
    padding: 20px;
  }

   .header-wrapper{
    width: 100%;
    padding: 15px 20px;
    z-index: 1;
  }

  .header-logo, .footer-logo{
    padding: 0;
  }

  .nav-toggle{
    display: unset;
    background: none;
    border: none;
  }

  .nav-toggle > svg{
    width: 2.5em;
    height: 2.5em;
  }

  .header-logo > svg{
    height: 2.5em;
  }

  .header-flyout-menu{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-primary-black);
    z-index: 2;
  }

  .menu{
    font-size: 1rem;
  }

  .close-btn{
    display: inline-block;
    background-color: transparent;
    padding: 5px 15px;
    color: var(--color-primary-black);
    text-align: center;
    border: 1px solid #000000;
    border-radius: 50px;
    font-size: 1rem;
    margin: 0 0 0 auto; /* add this line */
    font-family: 'General sans', sans-serif;
  }

  .close-btn:active{
    color: var(--color-secondary-beige-01);
    background-color: var(--color-primary-black);
  }

  .navbar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    background-color: var(--color-secondary-beige-01);
    transition: all 1s ease;
  }

  .nav-items{
    width: fit-content;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .nav-link{
    padding: 10px 0;
    font-family: 'Boska', serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--color-primary-black);
    --underline-color: var(--color-primary-black);
  }

  .header-menu-social-accounts{
    display: inherit;
    border-top: 1px solid var(--color-secondary-gray-02);
    padding: 10px 0 0 10px;
  }

  .navbar.active{
    right: 0;
  }

  .navbar.active .nav-link{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1s forwards;
  }

  .name-title{
    top: 1.4vh;
    height: 1.2em;
  }

  section:not(:first-child){
    padding-bottom: 80px;
  }

  .parallax-inner{
    height: 500px;
  }

  .about-photo{
    height: 800px;
  }

  .about-description{
    padding: 0 50px;
  }

  .resume-link{
    align-items: center;
  }
  
  .projects, .footer-info{
    grid-template-columns: repeat(1, minmax(0,1fr));
  }
}

/* Mobile layout */
@media (max-width: 600px) {

  .header-wrapper{
    width: 100%;
    padding: 15px 20px;
    z-index: 1;
  }

  .header-logo, .footer-logo{
    padding: 0;
  }

  .header-logo > svg{
    width: 60px;
    height: 30px;
  }

  .home{
    width: 100%;
  }

  .welcome-section{
    width: 70%;
  }

  .line{
    width: 100%;
  }

  .greeting{
    padding: 5px 0;
  }

  .name-title{
    margin-left: 0.8rem;
    top: 1.5vh;
  }

  section:not(:first-child){
    padding: 40px 20px;
  }

  .section-title{
    text-align: center;
  }

  .about-section{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .parallax-container{
    width: 100%;
  }

  .parallax-inner{
    height: 400px
  }

  .about-photo{
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about-description{
    width: 100%;
    padding: 0;
    text-align: center;
 }
 
  .resume-link{
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }

  .resume-link > svg{
    width: 18px;
    height: 18px;
  }

  .projects, .footer-info{
    grid-template-columns: repeat(1, minmax(0,1fr));
  }

  .footer-description{
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {


}

@media (min-width: 1025px) and (max-width: 1300px) {
  
  .projects{
    grid-template-columns: repeat(2, minmax(0,1fr));
  }

}

@media only screen and (max-width: 1301px) {


}

@-webkit-keyframes gradient{
  0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: var(--home-bg-width);
	}
}

@keyframes gradient{
  0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: var(--home-bg-width);
	}
}

@-webkit-keyframes fillSvg{
  0%{
    stroke-dashoffset: 500;
  }
  80%{
    fill: transparent;
  }
  100%{
    stroke-dashoffset: 0;
    fill: var(--color-primary-white);
  }
}

@keyframes fillSvg{
  0%{
    stroke-dashoffset: 500;
  }
  80%{
    fill: transparent;
  }
  100%{
    stroke-dashoffset: 0;
    fill: var(--color-primary-white);
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

